*{
    margin: 0;
    padding: 0;
}

body{
    background: #35424a;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: #ffffff;
    min-width: 100%;

}
/*GLOBAL*/
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.dark{
  padding: 15px;
  background: #e8491d;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
#main{
  color: black;
  background: white;
}
.light{
  padding: 15px;
  background: #e0d8d869;
  color: #242525f3;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  min-height:457px;
}

/*header*/
header{
    text-align: center;
    height: 90px;
    background: rgb(253, 253, 253);
    margin-top: 0px;
    border-radius: 1px;
    width: auto;
    
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #e8491d 2px solid;

    
}

.branding{
  float: left;
  margin-left: 50px;

  margin-top: -70px;
  margin-bottom: -60px;
 
}

   

p{
    margin-left: 32%;
    margin-top: -15px;
}
.nav{
    padding: 0 30px;
    margin: 0;
    float: right;
    margin-top: 20px;
    
}

.nav li{
    float: left;
    padding: 0 20px 0 20px ;
    list-style: none;
    
}

.nav li a{
    text-decoration: none;
    color: dimgray;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 20px;    
}
.current{
  color: #e8491d;
    font-weight:  bold;
}
.nav li a:hover{
    background: #ffffff;
    transition: .5s ease-out;
    color: #e8491d;
    
}
/*--//header ends*/
/*SLIDER*/
#slider{
  overflow: hidden;
  height: 475px;
  border-bottom: #e8491d 3px solid;
  
}
 #slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
  text-align: center;
 
  
}
#slider figure img{
  width: 20%;
  float: left;
  
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/*BOXES*/
#boxes{
    margin-top: 0;
    width: 100%;
   
}

#boxes .box{
    float: left;
    width: 30.2%;
    padding: 21px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(53, 52, 52);
  
}

#boxes .box img{
    width: 75px;
}

/*..SIDEBAR..*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
  margin-right: 1%;
}
aside#sidebar2{
  overflow: hidden;
  margin-bottom: 47.5px;
}
aside#firstbar{
  margin-bottom: 57.5px;
}
/*..MAIN-COL..*/
article#main-col{
  float: left;
  width: 60%;
  margin-top: 10px;
  margin-left: 30px;
}
.page-title{
  font-size: 1.5rem;
}

/*--MIDDLEBAR--*/
aside#middlebar{
max-height: 677px;
margin-bottom: 57.5px;
}
/*--IFRAMES--*/
.iframe{
  margin-left: -5px;
}
/*--FOOTER--*/
footer{
    padding: 20px;
    margin-top: 0;
    color: #ffffff;
    background-color:#13101098;
    text-align: center;
    
   
}
.footer--text
.footer--title
.footer--Link{
  color: #aaaaaa;
  padding: 3px 15px;
  display: block;
}
.footer--hr{
  height: 2px;
  border: none;
  background: #f7f5f5;

}
#boxes .box2{
    float: left;
    width: 33.3%;
    padding: 0;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
   
  
}

.footer--title{
  font-weight: bold;
  margin-bottom: 10px;
  color: #39ca74;
}
.footer--Link{
  text-decoration: none;
  display: flex;
  color: rgb(255, 255, 255);
}
.footer--Link:hover{
  color: rgb(128, 128, 128);;
  background: rgba(128, 128, 128, 0.411);
}
#content {
  background: #a4daeb;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
 h2{
  text-align: center;
  color: #2bb160e5;
  margin-bottom: 20px;
}

/* MEDIA QUERRIES*/
@media(max-width: 768px){

  .branding{
    float: none;
    text-align: center;
    width: 60%;
    margin-bottom: -60px;
    margin-left: -100px;
    
  }
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 15px;
   
  }
  header{
    padding-bottom: 20px;
    height: auto;
  }
  .nav li a{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    padding-bottom: 0;
  }
  #slider{
   margin-bottom: px;
   max-height: 340px;
   
   overflow: hidden;
  }
}
@media screen and (max-width: 525px){
  .branding{
    float: none;
    margin-left: auto;
    margin-bottom: -20px;
    width: 100%;
  }
  
  .box,
  #boxes .box2,
  .light{
    text-align: center;
    float: none;
    width: 100%;
  
}
#boxes .box #firstbar,
#boxes .box #middlebar,
#boxes .box #sidebar2{
  margin-bottom: -10px;
  width: 100%;
  float: none;
  margin-top: -23px;
  padding-bottom: 0;
  height: auto;
  overflow: hidden;
  text-align: center;
}
article#main-col,
aside#sidebar{
  margin-bottom: -8px;
  width: 100%;
  float: none;
  margin-top: px;
  padding-bottom: 0;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin-left: inherit;
}

header{
  padding-bottom: 20px;
  height: auto;
  
}
#slider{
  margin-bottom: -38px;
  max-height: 200px;
  
  overflow: hidden;
}
.nav li a{
  margin: 0;
  padding: 0;
  width: 100%;
  
}
}